<div>
  <mat-form-field >
    <input matInput placeholder="Name" [formControl]="nameFormControl" [(ngModel)]="name"  >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
  <mat-select #roomStatus [formControl]="roomFormControl" value="available">
    <mat-option value="occupied">Occupied</mat-option>
    <mat-option value="reserved">Reserved</mat-option>
    <mat-option value="available">Available</mat-option>
  </mat-select>
  </mat-form-field>


  <button mat-raised-button color="accent"
  (click)="add()">
  Add
</button>
</div>