<div class="grid grid-pad" >

  <mat-table #table [dataSource]="customers" >
    
    <ng-container matColumnDef="id" (click)="getCustomer()"> 
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"  > {{element.id}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> <a routerLink="/detail/{{element.id}}" style="text-decoration: none;">{{element.name}} </a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="email" >
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tel">
    <mat-header-cell *matHeaderCellDef> Tel. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tel}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="cpf">
    <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
  </ng-container>
  

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<button mat-raised-button color="accent"
(click)="goBack()">
Return
</button>
</div>
