<div class="grid grid-pad" >

  <mat-table #table [dataSource]="customers" >
    
    <ng-container matColumnDef="id" (click)="getCustomer()"> 
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"  > {{element.id}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> <a routerLink="/detail/{{element.id}}">{{element.name}} </a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="email" >
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tel">
    <mat-header-cell *matHeaderCellDef> Tel. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tel}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="cpf">
    <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>

<div>
  <mat-form-field >
    <input matInput placeholder="Name" [(ngModel)]="name" [formControl]="nameForm">
  </mat-form-field>

  <mat-form-field >
    <input matInput placeholder="Email" [(ngModel)]="email"[formControl]="emailForm">
  </mat-form-field>
  
  <mat-form-field >
    <input matInput placeholder="Tel." [(ngModel)]="tel"[formControl]="telForm">
  </mat-form-field>
  
  <mat-form-field >
    <input matInput placeholder="CPF" [(ngModel)]="cpf"[formControl]="cPFForm">
  </mat-form-field>




  <button mat-raised-button color="primary"
  (click)="add()">
  Add
</button>




</div>