@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
  border: 0;
  padding: 0;
}
h1{

  padding: 20px;
}
mat-nav-list{
  margin-top:15px;
  padding: 10px;
} 
img{
  margin-top:15px;
  padding: 10px;
} 