<br>
<mat-form-field>
Name:
  <input matInput [(ngModel)]="customer.name"   >
</mat-form-field>
<mat-form-field>
  Email:
  <input matInput [(ngModel)]="customer.email" />
</mat-form-field>
 
<mat-form-field>
  Tel:
  <input matInput  [(ngModel)]="customer.tel"  />
</mat-form-field>

<mat-form-field>
  CPF:
  <input matInput  [(ngModel)]="customer.cpf" />
</mat-form-field> 
<mat-form-field>
  Status:
  <input matInput  [(ngModel)]="customer.status" />
</mat-form-field> 


  <div>
    <button mat-raised-button color="accent"
    (click)="add()" >
    Add
    </button>
  <button mat-raised-button color="accent"
  (click)="save()" >
  Save
  </button>
  <button mat-raised-button color="accent"
(click)="delete()">
Delete
</button>
  <button mat-raised-button color="accent"
  (click)="goBack()">
  Return
</button>
